#pc-wrap {
	#community-list-page {
		position: relative;
		background: rgb(21, 21, 47);
		.container {
			padding-top: 100px;
			flex-direction: column;
			gap: 64px;
			.main-box {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				// gap: 31px;
				.top-config {
					// width: 266px;
					height: fit-content;
					// gap: 30px;
					// margin-top: 100px;
					margin-bottom: 50px;

					// box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);
					.image-info {
						display: flex;
						width: 100%;
						flex-direction: row;
						align-items: center;
						justify-content: center;
						gap: 15px;
						img {
							width: 80px;
							height: 80px;
							border-radius: 50%;
							object-fit: cover;
						}
						.community-name {
							.name {
								// margin-top: 15px;
								color: white;
								font-family: $font;
								font-size: 28px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
							}
						}
					}
					.tab-container {
						display: flex;
						flex-direction: row;
						margin-top: 30px;
						.tab-button {
							width: 216.612px;
							padding: 0;
							justify-content: center;
							align-items: center;
							margin-bottom: 10px;
							// color: #181a20;
							color: white;
							font-family: $font;
							font-size: 18px;
							font-style: normal;
							font-weight: 500;
							line-height: 150%;
							letter-spacing: -0.266px;
							border-bottom: 2px solid transparent;
						}
						.tab-button:not(:last-child) {
							margin-right: 40px;
						}
						.tab-button.active {
							padding: 0;
							justify-content: center;
							align-items: center;
							color: #f97316;
							margin-bottom: 10px;
							font-family: $font;
							font-style: normal;
							font-weight: 500;
							line-height: 150%;
							letter-spacing: -0.266px;
							border-bottom: 2px solid #f97316;
						}
					}
				}
				.bottom-config {
					width: 100%;
					height: auto;
					.panel-config {
						width: 100%;
						height: auto;
						.title-box {
							width: 100%;
							height: auto;
							flex-direction: row;
							// justify-content: center;
							align-items: center;
							margin-bottom: 55px;
							.left {
								display: flex;
								flex-direction: column;
								justify-content: center;
								align-items: center;
								width: 60%;
								height: auto;
								margin-right: auto;
								margin-left: auto;
								.title {
									// color: #000;
									color: white;
									font-family: $font;
									font-size: 24px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
									letter-spacing: 0.24px;
								}
								.sub-title {
									// color: #757575;
									color: white;
									font-family: $font;
									font-size: 13px;
									font-style: normal;
									font-weight: 700;
									line-height: normal;
									letter-spacing: 0.325px;
								}
							}
							.right {
								width: 91px;
								height: 32px;
								border-radius: 4px;
								background: #f97316;
								color: #fff;
								font-family: $font;
								font-size: 14px;
								font-style: normal;
								font-weight: 500;
								line-height: normal;
								letter-spacing: 0.39px;
							}
						}
						.list-box {
							width: 100%;
							height: auto;
							flex-direction: row;
							flex-wrap: wrap;
							gap: 20px;
						}
					}
				}
			}
			.similar-articles-config {
				width: 100%;
				height: auto;
				gap: 75px;
				padding: 30px 9px 28px 9px;
				border-radius: 10px;
				border: 1px solid #c4c4c4;
				.similar-articles-title {
					padding-left: 56px;
					// color: #000;
					color: white;
					font-family: $font;
					font-size: 30px;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
				}
				.articles-box-row {
					width: 100%;
					height: auto;
					flex-direction: row;
					gap: 5px;
				}
			}
			.pagination-config {
				width: 100%;
				align-items: center;
				justify-content: center;
				margin-bottom: 50px;
				gap: 20px;
				// padding-left: 270px;
				.pagination-box {
					align-items: center;
					justify-content: center;
				}
				.total-result {
					p {
						// color: #181a20;
						color: white;
						text-align: center;
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 26px;
					}
				}
			}
		}
	}
}
